{% extends "base.html" %}

{% block head %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="centered">
        <form action="/login" method="post">
            <label for="username" class="input-label">Username:</label><br>
            <input type="text" id="username" class="input-box" name="username"><br>

            <label for="password" class="input-label">Password:</label><br>
            <input type="password" id="password" class="input-box" name="password"><br>

            <div class="centered">
                <button type="submit">Submit</button>
            </div>

            {# If valid login, redirect to movies page #}
        </form>
    </div>

{% endblock %}