{% extends "base.html" %}

{% block head %}
        <h1>
            {% block title %}{{movie.title}}{% endblock %}
            <br>
            {% if movie.average_rating %}
                <span class="movie-rating">
                    {{ movie.average_rating }} <span class="star">★</span>
                </span>
            {% else %}
                <span class="movie-rating">No Rating</span>
            {% endif %}
        </h1>
{% endblock %}

{% block content %}
    <div class="centered">
        <div class="movie-description-container">
            <p class="movie-description">{{movie.description}}</p>
        </div>
    </div>

    <div class="spaced-between">
        <span class="reviews-header">Reviews</span>
        <a href="/movie/{{ movie.id }}/write-review">Write a Review</a>
    </div>

    <div id="reviews-section">
        {% for r in reviews %}
            <div class="review">
                <div class="review-header">
                    <span><strong>{{ r.review_title }}</strong></span>
                    <span>
                        {% for s in range(r.rating) %}
                            <span class="star">★</span>
                        {% endfor %}
                        {% for s in range(5-r.rating) %}
                            <span class="star">☆</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="review-timestamp">{{ r.user.username }} · {{ r.updated_at }}</div>
                <div class="review-content">
                    <span>{{ r.review_content }}</span>
                    {% if r.user == current_user %}
                        <form action="/movie/{{ movie.id }}/delete-review/{{ r.id }}" method="get">
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}