{% extends "base.html" %}

{% block head %}
    <h1>{% block title %}Write a Review · {{ Movie.title }}{% endblock %}</h1>
{% endblock %}
{% block content %}
    <div id="write-review-container">
        <form class="review-form" method="post" action="/movie/{{ Movie.id }}/write-review">
            <label for="review-title" class="input-label">Review Title:</label>
            <input type="text" id="review-title" class="input-box" name="title" required />

            <label for="review-content" class="input-label">Your Review:</label>
            <textarea id="review-content" class="input-box" name="content" rows="10" cols="30" required></textarea>

             <label for="review-rating" class="input-label">Rating (between 1 and 5):</label>
             <input type="range" id="review-rating" name="rating" min="1" max="5">

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}