html {
    background-color: #18171d;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16pt;
}

a {
    color: whitesmoke;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: #cacaca;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10pt 20pt;
    background-color: darkslateblue;
}

nav a {
    color: white;
}

nav a:hover {
    color: #d6d6d6;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10pt;
    color: white;
    background-color: #473d8a;
}

footer a {
    color: white;
}

button {
    padding: 7pt;
    background-color: lightgrey;
    border: none;
    border-radius: 6pt;
    font-size: 12pt;
    transition: .5s;
}

button:hover {
    background-color: #b1b1b1;
    cursor: pointer;
}

.spaced-evenly {
    display: flex;
    justify-content: space-evenly;
}

.spaced-between {
    display: flex;
    justify-content: space-between;
}

.centered {
    display: flex;
    justify-content: center;
}

.movie-card {
    height: 200pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.65);
    color: white;
    border-radius: 10pt;
    transition: .75s;
    padding-left: 5pt;
    padding-right: 5pt;
}

.movie-card:hover {
    color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

.movie-card .star {
    color: inherit;
}

.movie-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20pt;
}

.movie-rating {
    font-size: smaller;
}

.movie-description {
    width: 70%;
    text-align: left;
    color: #8f8e91;
    margin-top: 40pt;
    margin-bottom: 40pt;
}

.movie-description-container {
    border: 2pt dashed #2d2c32;
    border-radius: 10pt;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 60%;
}

.movie-cover {
    width: 200pt;
}

.review {
    background-color: #2d2c32;
    border-radius: 10pt;
    padding: 10pt;
    margin-top: 20pt;
    color: lightgrey;
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.review-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.review-timestamp {
    font-size: smaller;
    margin-top: 5pt;
    color: #9a9a9a;
}

.review-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10pt;
}

.reviews-header {
    font-weight: bold;
    color: whitesmoke;
}

.star {
    font-size: larger;
    color: darkgoldenrod;
}

.page-header {
    background-color: #5c5097;
    color: whitesmoke;
    height: 270pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flashes {
    background-color: white;
    color: red;
    margin: 0;
    padding-top: 10pt;
    padding-left: 10pt;
    list-style: none;
}

.input-box {
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding: 5pt;
    border: none;
    background-color: lightgrey;
    border-radius: 5pt;
}

.input-label {
    color: whitesmoke;
}

#outer-container {
    display: flex;
    justify-content: center;
}

#inner-container {
    width: 100%;
}

#main-content {
    padding: 20pt;
}

#write-review-container {
    display: flex;
    justify-content: center;
}

#yes-no-container {
    display: flex;
    justify-content: center;
    gap: 10pt;
}

#review-title {
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

#review-content {
    margin-top: 5pt;
    margin-bottom: 5pt;
}

@media screen and (max-width: 767px) {
    .movie-card-container {
        grid-template-columns: 1fr;
    }

    .movie-description-container {
        width: 100%;
    }
}